
<%- include('include/_header.ejs', {title: 'Home'}) %> 
<body>
<%- include('include/_navbar.ejs') %> 

<main id="site-main">
    <div class="container">

        <div class="box-nav d-flex justify-between">
            <a href="https://www.instagram.com/yadhershh" target="_blank" class="border-shadow">
                <span class="text-gradient">Any ideas ? just hit me up! <i class="fa-solid fa-lightbulb"></i></i></span>
            </a>
        </div>
        <!-- form handling-->
        <form action="/" method="post">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Subject</th>
                        <th>Teacher</th>
                        <th>Chapters</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('include/_show.ejs') %> 
                </tbody>
            </table>
        </form>
    </div>  
</main>

<%- include('include/_footer.ejs') %> 